{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
  <section id="content">
    <div class="row">
      <div class="span6 offset3">
        {% if name %}
          <label>こんにちは{{ name }}さん</label>
        {% else %}
          <label>{{ message }}</label>
        {% endif %}
        <div class='form-actions'>
          <form action="/post" method="post">
            <div class='input'>
              <input type="text" name="name" value="" /><br>
              <input type="submit" name="commit" value="送信する" class="btn btn-primary" data-disable-with="送信中..." />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
